*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

h1{
    font-size: 3.5rem;
    color: #677FFF;
    width: 60rem;
}

.home{
    margin-top: 23.6rem;
    margin-left: 10rem;
    display: flex;
}

.home p{
    width: 40rem;
}

.img-box{
    background-color: #D9D9D9;
    width: 30rem;
    height: 20rem;
    float: left;
    margin-left: 20rem;
}

.about{
    margin-top: 20rem;
    display: flex;
    margin-left: 10rem;
    float: right;
}

.about .texta{
    text-align: right;
    float: right;
    margin-left: 6rem;
}

.about .texta p{
    width: 75rem;
    margin-right: 10rem;
}

.about h1{
    margin-left: 15rem;
}

.about .img-box2{
    background-color: #D9D9D9;
    width: 30rem;
    height: 20rem;
    float: left;
    margin-top: 3.5rem;
}

.about button{
    width: 15rem;
    height: 5rem;
    border-radius: 1.25rem;
    background: #677FFF;
    color: #ffffff;
    border: none;
    margin-right: 10rem;
}

.about button a{
    text-decoration: none;
}

.about button:hover {
    background: 1.25rem #ffffff;
    color: #677FFF;
    border: 0.3rem solid #677FFF;
}

@media (max-width: 1278px) {
    .img-box{
        margin-left: 10rem;
    }
}

@media (main-width: 1250px){
    .img-box2{
        margin-left: 20rem;
    }
}

@media (max-width: 1117px) {
    .img-box{
        margin-left: 5rem;
    }
}

@media (max-width: 1065px) {
    .img-box{
        margin-left: 2rem;
    }
}

@media (max-width: 1065px) {
    .img-box{
        display: none;
    }
}